<%= render 'shared/page_title', title: "Binstagramer: " + @user.email %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= link_to gravatar_for(@user, size: 100), user_path(@user) %>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <h3><em>Photos:</em></h3>
    <%= will_paginate @photos %>
  </div>
</div>

<div class="center">
  <% if @photos.any? %>
    <div class="column">
    <% @photos.each do |photo| %>
      <div class="well col-md-8 col-md-offset-2">
        <h1><%= link_to photo.name, photo_path(photo) %></h1> 
        <span class="quiet"><small> <%= time_ago_in_words(photo.created_at) %> ago</small></span>
        <h3 class='image'><%= image_tag photo.image.url(:original), {:width => "500", :height => "500"} %></h3> 
        <p><%= photo.description %></p> 
        <%= link_to like_photo_path(photo, like: true), method: :post do %>
        <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= photo.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_photo_path(photo, like: false), method: :post do %>
        <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= photo.thumbs_down_total %>
        <% end %>
        
        <%= link_to "Comment", new_photo_comment_path(photo) %></br>
        <!-- <h5>Comments for <%= photo.name %></h5> -->
        <% if photo.comments.any? %>
          <ul>
            <% photo.comments.each do |comment| %>
              <li>
                <%= comment.thoughts %> - <h6><%= "Posted by #{comment.user_id}" %></h6>
              </li>
            <% end %>
          </ul>
          </li>
        </ul>
        <% end %>
      </div>
      <hr/>
    <% end %>
  <% else %>
    <h1>No photos yet!</h1>
  <% end %>
</div>