<%= render 'shared/page_title', title: @user.email %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= link_to gravatar_for(@user, size: 100), user_path(@user) %>
    <hr/>
    <%= will_paginate @photos %>
  </div>
</div>

<div class="center">
  <% if @photos.any? %>
    <div class="column">
    <% @photos.each do |photo| %>
      <div class="well col-md-8 col-md-offset-2">
        <h1><%= link_to photo.name, photo_path(photo) %></h1> 
        <%= link_to gravatar_for(photo.user, size: 50), user_path(photo.user) %>
        <h4><%= "Posted by #{photo.user.email}" %></h4>
        <span class="quiet"><small> <%= time_ago_in_words(photo.created_at) %> ago</small></span>
        <h3 class='image'> <%= link_to photo_path(photo) do %>
        <%= image_tag photo.image.url(:original), {:width => "400", :height => "400"} %></h3> 
        <% end %>
        <p><%= photo.description %></p> 
        <%= link_to like_photo_path(photo, like: true), method: :post do %>
        <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= photo.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_photo_path(photo, like: false), method: :post do %>
        <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= photo.thumbs_down_total %>
        <% end %>  
        <br>
        <%= link_to "Comment", new_photo_comment_path(photo) %></br>
        <% if photo.comments.any? %>
            <% photo.comments.each do |comment| %>
                <h6><%= comment.thoughts %> - <%= "Posted by #{comment.user_id}" %></h6>
            <% end %>
        <% end %>
      </div>
      <hr/>
    <% end %>
  <% else %>
    <h1>No photos yet!</h1>
  <% end %>
</div>

<%= will_paginate @photos %>