<%= render 'shared/errors', obj: @photo %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @photo, html: {multipart: true}  do |f| %>
      <%= f.label :image, "Image" %>
      <%= f.file_field :image %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description, rows: 3 %>

      <%= f.submit 'Submit Photo', class: "btn btn-success"%>
    <% end %>
  </div>
</div>