<%= render 'shared/page_title', title: "Latest Photos" %>

<%= will_paginate %>

<div class="center">
  <% if @photos.any? %>
    <div class="column">
    <% @photos.each do |photo| %>
      <div class="well col-md-8 col-md-offset-2">
        <h1><%= link_to photo.name, photo_path(photo) %></h1> 
        <h4><%= "Posted by #{photo.user.email}" %></h4>
        <%= gravatar_for photo.user, size: 50 %>
        <span class="quiet"><small> <%= time_ago_in_words(photo.created_at) %> ago</small></span>
        <h3 class='image'><%= image_tag photo.image.url(:original), {:width => "500", :height => "500"} %></h3> 
        <p><%= photo.description %></p> 
        <%= link_to like_photo_path(photo, like: true), method: :post do %>
        <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= photo.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_photo_path(photo, like: false), method: :post do %>
        <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= photo.thumbs_down_total %>
        <% end %>
        
        <%= link_to "Comment", new_photo_comment_path(photo) %></br>
        <!-- <h5>Comments for <%= photo.name %></h5> -->
        <% if photo.comments.any? %>
          <ul>
            <% photo.comments.each do |comment| %>
              <li>
                <%= comment.thoughts %> - <h6><%= "Posted by #{comment.user_id}" %></h6>
              </li>
            <% end %>
          </ul>
          </li>
        </ul>
        <% end %>
      </div>
      <hr/>
    <% end %>
  <% else %>
    <h1>No photos yet!</h1>
  <% end %>
</div>

<%= will_paginate %>