<p>
  <h1>Share a picture!</h1>
  <hr/>
</p>

<% if @photo.errors.any? %>
  <div class="row">
    <div class="alert alert-danger col-md-8 col-md-offset-2">
      <h5>Please correct the following errors</h5
      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>

<% end %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @photo, html: {multipart: true}  do |f| %>
      <%= f.label :image, "Image" %>
      <%= f.file_field :image %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description, rows: 3 %>

      <%= f.submit 'Submit Photo', class: "btn btn-success"%>
    <% end %>
  </div>
</div>
<div class="center"><h3><%= link_to 'All Photos', photos_path, class: "btn btn-warning btn-small" %></h3></div>